{% extends base_layout %}

{% block header_title_lead %}{% endblock %}

{% block content %}


  <div>
      <h1>BitSpar Lobby</h1>
  </div>
  <div class="row">
      <span><a href="https://trenjohn-170317.appspot.com/g/{{ game.key.id() }}">{{ game.key.id() }}</a><p> {{game.entryFee}} {{game.numberPlayers}} {{game.usersSignedUp}}</p></span>
  </div>
  <!-- [END greetings] -->
  <form action="/g/{{ game.key.id() }}" method="post">
    <!-- <div><textarea name="content" class="input-block-level" rows="3"></textarea></div> -->
    <div><input type="submit" class="btn btn-large btn-primary" value="Join Game"></div>
  </form>



{% endblock %}
