{% extends base_layout %}

{% block header_title_lead %}{% endblock %}

{% block content %}


  <div>
      <h1>
          BitSpar Lobby
      </h1>
      <table style="width:80%">
        <tr>
          <th>Game #</th>
          <th>Entry Fee</th>
          <th>Signed Up / Number Players</th>
        </tr>
      {% for game in games %}
        <tr>
          <td><a href="https://trenjohn-170317.appspot.com/g/{{game.key.id()|safe}}">{{ game.key.id() }}</a></td>
          <td>{{game.entryFee}}</td>
          <td>{{game.numberPlayers}} / {{game.usersSignedUpCount}}</td>
        </tr>
      {% endfor %}
      </table>
  </div>

{% endblock %}
