{% extends base_layout %}

{% block header_title_lead %}{% endblock %}

{% block content %}


  <div>
      <h1>BitSpar Lobby</h1>
  </div>
  <div>
      <h2>You ready to play yo game {{user.name}} {{user.last_name}}?!</h2>
      <!-- <span><a href="https://trenjohn-170317.appspot.com/g/{{ game.key.id()|safe }}">{{ game.key.id() }}</a>
      <p> {{game.entryFee}} {{game.numberPlayers}} / {{game.usersSignedUpCount}}</p></span> -->
  </div>
  <!-- [END greetings] -->
  <!-- <form action="{{ url|safe }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">

    <div><input type="submit" class="btn btn-large btn-primary" value="Join Game"></div>
  </form> -->



{% endblock %}
